<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.loginresigtertemplate.mapper.CardMapper">

    <resultMap id="BaseResultMap" type="com.example.loginresigtertemplate.Domain.Card">
            <id property="card_id" column="card_id" jdbcType="INTEGER"/>
            <result property="front_content" column="front_content" jdbcType="VARCHAR"/>
            <result property="back_content" column="back_content" jdbcType="VARCHAR"/>
            <result property="user_id" column="user_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        card_id,front_content,back_content,
        user_id
    </sql>
</mapper>
